* {
  margin: 0;
  padding: 0;
  border: 0;
  /* border: red 2px solid; */
}

:root {
  --primary: blue;
  --secondary: purple;
  --accent: grey;
  --background: pink;
}
body {
  font-family: Arial, sans-serif;
}
header {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 25%;
  height: auto;
  border-radius: 50%;
  padding: 1em;
}

h1 {
  font-size: xx-large;
  width: max-content;
  color: var(--primary);
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-size: larger;
}

nav a:hover {
  color: var(--secondary);
}
section {
  display: flex;
  padding: 1em;
}

aside {
  flex: 20%;
  border-right: var(--primary) 6px solid;
  margin-right: 2em;
}

article {
  flex: 80%;
  font-size: x-large;
  /* border: red 2px solid; */
}
.big-card {
  position: relative;
}
.big-card img {
  min-width: 90%;
  padding: 5%;
}
.column-2 {
  display: flex;
}
.small-card {
  width: 50%;
  position: relative;
}
.small-card img {
  width: 80%;
  padding: 10%;
}
.card-title {
  background-color: var(--background);
  width: max-content;
  padding: 0.5em;
  position: absolute;
  left: 10%;
  bottom: 25%;
}
.card-title h3 {
  font-weight: 700;
  font-size: xx-large;
}
.big-card .card-title {
  left: 5%;
}

.card-title p {
  font-weight: 400;
}
footer address {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-direction: row;
}
